html {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #67AE6E !important;
  font-size: 20px;
}

#root {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.main-content{
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
  background-color: #67AE6E;
}

nav{
  background-color: #328E6E;
  padding: 10px;
}

nav > button{
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 10px;
}

nav > button > a {
  text-decoration: none;
  color: #E1EEBC;
}

nav > button:hover{
  cursor: pointer;
}

nav > button:active{
  color: #90C67C;
}

nav > button:hover > a{
  color: #90C67C;
}

.title{
  margin-top: 0;
}

.song-title{
  margin-bottom: 0;
}

.artist-name{
  margin-top: 0;
}

.card{
  padding: 20px;
}

.card input, .card textarea{
  width: 90%;
  max-width: 500px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #E1EEBC;
  color: #90C67C;
  text-align: center;
  font-size: 0.8rem;
}